<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z2</string>
				<string>z3</string>
				<string>z4</string>
				<string>z5</string>
				<string>z6</string>
				<string>z7</string>
				<string>z8</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>zcode-64</string>
				<string>zcode-128</string>
				<string>zcode-320</string>
				<string>zcode-640</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>public.zcode</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zcode</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zlb</string>
				<string>zblorb</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>zcode-128</string>
				<string>zcode-320</string>
				<string>zcode-64</string>
				<string>zcode-640</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>public.blorb.zcode</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.zcode</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ulx</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>glulx.png</string>
				<string>glulx-64</string>
				<string>glulx-128</string>
				<string>glulx-320</string>
				<string>glulx-640</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>public.glulx</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.glulx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blb</string>
				<string>gblorb</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>glulx.png</string>
				<string>glulx-64</string>
				<string>glulx-128</string>
				<string>glulx-320</string>
				<string>glulx-640</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>public.blorb.glulx</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.glulx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qut</string>
				<string>sav</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>zcode-128</string>
				<string>zcode-320</string>
				<string>zcode-64</string>
				<string>zcode-640</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Quetzal saved game</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.quetzal</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon-72</string>
		<string>Icon-Small-50</string>
		<string>Icon-Small-50@2x</string>
		<string>Icon-Small@2x</string>
		<string>Icon@2x</string>
		<string>Icon-72@2x</string>
		<string>Icon-60</string>
		<string>Icon-60@2x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Default</string>
		<string>Default-Portrait~ipad</string>
		<string>Default-Landscape~ipad</string>
		<string>Default@2x</string>
		<string>Default-Portrait@2x~ipad</string>
		<string>Default-Landscape@2x~ipad</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon-72</string>
				<string>Icon-Small-50</string>
				<string>Icon-Small-50@2x</string>
				<string>Icon-Small</string>
				<string>Icon-Small@2x</string>
				<string>Icon@2x</string>
				<string>Icon-72@2x</string>
				<string>Default</string>
				<string>Default-Portrait~ipad</string>
				<string>Default-Landscape~ipad</string>
				<string>Default@2x</string>
				<string>Default-Portrait@2x~ipad</string>
				<string>Default-Landscape@2x~ipad</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.flippencorp.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-nv5pml9vkxszw8r</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>171.${BUILD_NUMBER}</string>
	<key>LSRequiresIPhoneOS</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Z-Machine Code</string>
			<key>UTTypeIconFile</key>
			<string>public.png</string>
			<key>UTTypeIdentifier</key>
			<string>public.zcode</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.inform-fiction.org/zmachine/standards/z1point0/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z2</string>
					<string>z3</string>
					<string>z4</string>
					<string>z5</string>
					<string>z6</string>
					<string>z7</string>
					<string>z8</string>
					<string>dat</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-zmachine</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Z-Machine Code</string>
			<key>UTTypeIconFile</key>
			<string>public.png</string>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.zcode</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.inform-fiction.org/zmachine/standards/z1point0/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zblorb</string>
					<string>zblb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-zmachine</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Glulx Code</string>
			<key>UTTypeIconFile</key>
			<string>public.png</string>
			<key>UTTypeIdentifier</key>
			<string>public.glulx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glulx/glulx-spec.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ulx</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-glulx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Glulx Code</string>
			<key>UTTypeIconFile</key>
			<string>public.png</string>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.glulx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glulx/glulx-spec.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gblorb</string>
					<string>blb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-glulx</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
